*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgb(241, 225, 228); 
    padding: 10px;
    width: 40%;
    margin: auto;
    border: 2px solid rgb(119, 20, 119);
    border-radius: 5px;
    margin-top: 30px;
}
#titulo{
    color: rgb(119, 20, 119);
    text-align: center;
}
#subtitulo{
    color: rgba(119, 20, 119, 0.719);
    text-align: center;
}
div{
    padding: 5px;
}
input{
    padding: 2px;
    margin: 5px;
}
fieldset{
    margin-top: 10px;
}
legend{
    color:rgb(119, 20, 119);
    font-weight: bolder;
}
#botao{
    text-align: center;
}
#enviar{
    padding: 5px;
    border: rgb(119, 20, 119) 3px solid; 
    border-radius: 5px;
    width: 70px;
    background-color: rgb(119, 20, 119);
    color: white;
    font: 15px georgia;
}
#enviar:hover{
    background-color: rgb(243, 230, 230);
    color: rgb(119, 20, 119);
}